<p id="notice"><%= notice %></p>

<div>
  <span class="label">Category</span>
  <span class="value"><%= @product.category.full_name %></span>
</div>

<div>
  <span class="label">Product</span>
  <span class="value"><%= @product.name %></span>
</div>

<div>
  <span class="label">Default price</span>
  <span class="value"><%= @product.default_price %></span>
</div>

<div>
  <span class="label">Default weight</span>
  <span class="value"><%= @product.default_weight %></span>
</div>

<div>
  <span class="label">Html</span>
  <span class="value"><%= @product.html %></span>
</div>

<div>
  <span class="label">Rank</span>
  <span class="value"><%= @product.rank %></span>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
